<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpplay.sdk.source.test">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- mirror -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 获取蓝牙名称做设备名称 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.hpplay.sdk.source.test.exscreen.ImageBrowseActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.ImageBrowseActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hpplay.sdk.source.test.exscreen.ExternalScreenMirrorActivity"
            android:exported="false"
            android:process=":lelinkps"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.ExternalScreenMirrorActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hpplay.sdk.source.test.activity.ReverseControlActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.max_aspect"
            android:value="3.0" />
    </application>

</manifest>